refresher for python syntax

In [3]:
10.23

10.23

In [4]:
1/2

0.5

In [5]:
2**4

16

In [6]:
2 + 3 * 5 + 5

22

In [7]:
(2 + 3) * 5

25

In [8]:
4 % 4

0

In [9]:
var  = 2

In [10]:
var

2

In [11]:
x= 5

In [12]:
x = x + x

In [13]:
x

10

In [15]:
# this is a comment

In [16]:
'this is for string'

'this is for string'

In [17]:
"and this is also a string"

'and this is also a string'

In [18]:
n = 1
name = 'jon'

In [19]:
print('number: {num} and name: {name}'.format(num=n, name=name))

number: 1 and name: jon

In [20]:
print('number: ', str(n),' name: ',name)

number:  1  name:  jon

In [21]:
h = 'hello'

In [22]:
h[0]

'h'

In [23]:
h[0:]

'hello'

In [24]:
h[1:3]

'el'

In [25]:
h[-1]

'o'

In [26]:
h[-3:]

'llo'

In [27]:
lst = [1,2,3]

In [28]:
a_lst = ['a','b','c','d']

In [29]:
a_lst.append('e')

In [30]:
print(a_lst)

['a', 'b', 'c', 'd', 'e']

In [31]:
a_lst[0] = [1,2,3]

In [32]:
print(a_lst)

[[1, 2, 3], 'b', 'c', 'd', 'e']

In [33]:
#nested lists

In [34]:
print(a_lst[0][1]) #access nested elements

2

In [35]:
d = {'key1':'val1','key2':'val2'}

In [37]:
d['key1']

'val1'

In [38]:
d['key2']

'val2'

In [39]:
d['key1'] = [1,2,4,5]

In [40]:
list = d['key1']

In [41]:
print(list)

[1, 2, 4, 5]

In [42]:
d['key2'] = {0:'nest',1:'nest1',2:'nest2'}

In [43]:
print(d['key2'][1])

nest1

In [44]:
#example of nested dict

In [45]:
print(d['key1'][1]) #nested structure

2

In [46]:
t = (0,120,34)

In [47]:
t[0]

0

In [48]:
t[1]

120

In [49]:
t[1]=89 #not allowed

TypeError: 'tuple' object does not support item assignment

In [50]:
t = [0,0,0,0]

In [51]:
#this is allowed

In [53]:
#sets
{1,1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [54]:
set([1,2,2,3,3,3,4,4,4,4,5,5,5,5,5])

{1, 2, 3, 4, 5}

In [55]:
s = {1,2,2,3,3,3,4,4,4,4,5,5,5,5,5}

In [56]:
print(s)

{1, 2, 3, 4, 5}

In [57]:
s.add(5) #already 5 exists

In [58]:
print(s)

{1, 2, 3, 4, 5}

In [59]:
s.add(10)

In [60]:
print(s)

{1, 2, 3, 4, 5, 10}

In [61]:
if 1 < 2:
    print('inside if')

inside if

In [62]:
if 1 > 2:
    print('inside if')
elif 1 == 0:
    print('inside else if')

In [63]:
#none is true

In [64]:
if 1 > 2:
    print('inside if')
elif 1 != 0:
    print('inside else if')

inside else if

In [66]:
if 1 > 2:
    print('inside if')
elif 1 == 0:
    print('inside else if')
else:
    print('inside else')

inside else