# data frames

In [9]:
import numpy as np
import pandas as pd

In [10]:
import numpy.random as randn

In [11]:
np.random.seed(101) #The random number generator can be seeded so that it always starts with same set of "random" numbers

In [16]:
df = pd.DataFrame(randn.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [18]:
df #df is list of columns, W X Y and Z are panda series with ABCDE as index

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [20]:
type(df['W'])

pandas.core.series.Series

In [21]:
type(df)

pandas.core.frame.DataFrame

In [23]:
# return set of columns from the data frame
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [24]:
df['new'] = df['W'] + df['Y'] # adding new series in the data frame

In [25]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [26]:
df.drop('new',axis=1) 
# by default axis is 0, it will drop the label 'new'
# if axis=1, it will drop column (series)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [27]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [29]:
df.drop('new',axis=1,inplace=True)
# inplace will modify the object

In [30]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [31]:
 df.shape

(5, 4)

In [32]:
# selecting rows
df.loc['A']
# row is returned as series

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [33]:
df.iloc[0] #numerical index

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [34]:
df.loc['B','Y']
# value at row B and column Y

-0.84807698340363147

In [35]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077